<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Logged in as <strong><%= userName %></strong></p>

    <div class="container">
      <div class="row">

        <ul id="all-blog-list">

        </ul>

      </div>
    </div>

    <nav>
      <ul>
        <li><a href="/userPage">Back to User Page</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </nav>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
