<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Logged in as <strong><%= username %></strong></p>
    <ul>
      <li>
        <h3>Blogger 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sapiente quis aliquid doloribus. Distinctio deleniti explicabo porro omnis repellendus et error, ratione blanditiis dolorem commodi voluptatem placeat? Ut libero, delectus.</p>
      </li>
      <li>
        <h3>Blogger 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sapiente quis aliquid doloribus. Distinctio deleniti explicabo porro omnis repellendus et error, ratione blanditiis dolorem commodi voluptatem placeat? Ut libero, delectus.</p>
      </li>
    </ul>

    <nav>
      <ul>
        <li><a href="/userPage">Back to User Page</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </nav>

  </body>
</html>
