<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <div class="row ta-center">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>

      <div class="row ta-center">
        <a class="link" href="/login">Log in here</a>
        <a class="link" href="/register">Register here</a>
      </div>
    </div>



  </body>
</html>
