<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container flex-container ta-center">

      <div class="row">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>

      <div class="row">
        <form method="post">
          <input class="" type="text" name="userName" placeholder="Username">
          <input class="" type="password" name="password" placeholder="Password">
          <button class="" type="submit" id="submit" name="submit">Log in</button>
        </form>
      </div>

      <div class="row">
        <a class="link" href="/register">Not registered?</a>
        <a class="link" href="/">Home</a>
      </div>

    </div>






  </body>
</html>
