<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">

      <div class="row ta-center">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>

      <div class="row align-center">
        <form method="post">
          <input type="text" name="firstName" placeholder="First Name">
          <input type="text" name="userName" placeholder="Username">
          <input type="email" name="email" placeholder="Email" >
          <input type="text" name="password" placeholder="Password">
          <input type="text" name="passwordConf" placeholder="Confirm Password">
          <button type="submit" id="submit" name="submit" value="Register">Register</button>
        </form>
      </div>

      <div class="row ta-center">
        <a class="link" href="/login">Already registered?</a>
        <a class="link" href="/">Home</a>
      </div>

    </div>

  </body>
</html>
