<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row ta-center">
        <h1><%= title %></h1>
        <h2>Welcome <%= userName %></h2>
      </div>

      <div class="row">
        <nav>
          <ul>
            <li><a href="/userBlog">Your Blog</a></li>
            <li><a href="/allBlogs">All Blog</a></li>
            <li><a href="/addBlog">Add A Post</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </nav>
      </div>

    </div>





  </body>
</html>
