<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <div class="row">
        <h1><%= title %></h1>
        <p>Logged in as <strong><%= userName %></strong></p>
      </div>

      <div class="row">
        <div id="userContainer">

        </div>
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="/userPage">User Home</a></li>
        <li><a href="/addBlog">Add New Post</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </nav>

    <div class="var-user-id" data-var-user-id="<%= userId %>"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="/javascripts/main.js" charset="utf-8"></script>

  </body>
</html>
