<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome <%= username %></h2>

    <nav>
      <ul>
        <li><a href="/allBlogs">All Blog</a></li>
        <li><a href="/userBlog">Your Blog</a></li>
        <li><a href="/addBlog">Add A Post</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </nav>


  </body>
</html>
