


input, button[type="submit"] {
	display: block;
	margin-bottom: 1em;
}

textarea {
	margin: 0;
	width: 100%;
}


.column {
	padding: 1em;
}

ul {
	list-style: none;
	padding-left: 0;
}

.preview-postPicture {
	width: 100%;
}
